{% extends 'fitness/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="homepage">
    <h1>Welcome to the Fitness Tracker</h1>
    <p>Track your fitness journey, monitor your diet, and achieve your goals.</p>

    <section class="features">
        <h2>Features</h2>
        <ul>
            <li><strong>Activity Tracking:</strong> Log your daily activities and workouts.</li>
            <li><strong>Dietary Logs:</strong> Keep track of your diet and nutrition.</li>
            <li><strong>Goal Setting:</strong> Set and track your fitness goals.</li>
        </ul>
    </section>

    <section class="navigation">
        <h2>Get Started</h2>
        <ul>
            {% if user.is_authenticated %}
            <p>Welcome,{{ user.username }}, what would you want to check out?</p>
            <li><a href="{% url 'profile' %}">View Profile</a></li>
            <li><a href="{% url 'activity_list' %}">View Activity List</a></li>
            <li><a href="{% url 'diet_log' %}">Log Your Diet</a></li>
            <li><a href="{% url 'weight_tracker' %}">Track your weight</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <p>You are not logged in. Please login or create an account.</p>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Create an Account</a></li>
            {% endif %}

            <!-- Add more links as needed -->
        </ul>
    </section>
</div>
{% endblock %}
